body{
	font-family: sans-serif;
}
.wrap{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #BBDEFB;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.card{
	width: 659px;
	height: 396px;
	position: relative;
	perspective: 1000px;
}
.front, .back{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 1s;
	backface-visibility: hidden;
	border-radius: 10px;
}
.front{
	background-image: url(../img/card2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.back{
	background-image: url(../img/card1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	transform: rotateY(180deg);
}
.card:hover .front{
	transform: rotateY(180deg);
}
.card:hover .back{
	transform: rotateY(0deg);
}