body{
	margin: 0;
	font-family: sans-serif;
}
.section{
	background-color: #f2395a;
	color: #fff;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	perspective: 1000px;
	overflow: hidden;
}
.heading{
	margin-left: 20%;
}
.phone, .tablet, .desktop{
	background-color: #fff;
	box-shadow: 13px 13px 32px 0 rgba(242, 57, 90, .3);
	position: absolute;
	transition: 1s;
	transform: translateY(100%);
	border-radius: 15px;
}
.phone{
	height: 280px;
	width: 200px;
	left: 5%;
	bottom: 0;
	z-index: 3;
	background: #fff url(../img/iphone.png) center no-repeat;
	background-size: cover;
	transition-delay: 0.4s;
}
.tablet{
	width: 360px;
	height: 380px;
	bottom: 0;
	left: 15%;
	z-index: 1;
	background: #fff url(../img/ipad.png) no-repeat;
	background-size: cover;
	transition-delay: 0.2s;
}
.desktop{
	width: 530px;
	height: 480px;
	background: #fff url(../img/imac.png) no-repeat;
	background-size: contain;
    bottom: 0;
    left: 25%;
    background-position: 70%;
}
.section:hover .phone,
.section:hover .tablet,
.section:hover .desktop{
	transform: translateY(-20%) rotateY(-15deg);
}
